@import 'colors';

@mixin font-family-declaration($font-family, $font-name) {
  @font-face {
    font-family: $font-family;
    src: url('../fonts/#{$font-name}/#{$font-name}.eot'); /* IE9 Compat Modes */
    src: url('../fonts/#{$font-name}/#{$font-name}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/#{$font-name}/#{$font-name}.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/#{$font-name}/#{$font-name}.woff') format('woff'), /* Modern Browsers */
    url('../fonts/#{$font-name}/#{$font-name}.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
  }
}

@mixin font-family($family) {
  font-family: $family, Helvetica, Arial, sans-serif;
}

@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

$lato-font-family: 'Lato-Regular';
$apex-font-family: 'Apex';