$screen-size-breakpoint: 320;

@mixin screen-small() {
  @media screen and (max-width: #{$screen-size-breakpoint}px) {
    @content;
  }
}

@mixin screen-large() {
  @media screen and (max-width: #{$screen-size-breakpoint + 1}px) {
    @content;
  }
}

@mixin multi-res-image($image, $screen-size-aware: false) {
  @if $screen-size-aware == true {

  } @else {
    background-image: url(#{$image}-ldpi.jpg);
    @media(min-device-pixel-ratio: 1),
    (min-resolution: 192dpi) {
      background-image: url(#{$image}-xhdpi.jpg);
    }
    @media(min-device-pixel-ratio: 1.5),
    (min-resolution: 144dpi) {
      background-image: url(#{$image}-hdpi.jpg);
    }
  }
}

body {
  @include multi-res-image('/home/images/embrace_front')
}