@import 'fonts';
@import 'screen-sizes';
@import 'buttons';

a {
  @include font-family($apex-font-family);
  cursor: pointer;
  text-decoration: none;
}

@include font-family-declaration ($lato-font-family, 'Lato-Regular');
@include font-family-declaration ($apex-font-family, 'Apex');

body {
  @include font-family($lato-font-family);
  color: $black;
  font-size: 16px;
}

h1 {
  font-size: 42px;
  @include font-family($apex-font-family);
}

h2 {
  font-size: 32px;
  @include font-family($apex-font-family);
}

p {
  font-size: 18px;
}

.data-block {
  vertical-align: top;
  max-width: 340px;
  text-align: left;
  display: inline-block;
  background-color: $light-grey;
  padding: 20px;
  margin: 0 20px 20px 0;

  @include screen-custom(900) {
    display: block;
    margin: 0 auto 10px;
  }

  h2 {
    margin: 0;
  }

  h3 {
    margin: 0;
    color: $red;
  }

  h4 {
    margin: 20px 0 10px;
  }
}

.danger-btn {
  @include btn-common();
  background-color: $white;
  color: $red-danger;

  &:hover {
    background-color: $red-danger;
    border-color: $red-danger;
    color: $white;
  }
}

.default-btn {
  @include btn-common();
  background-color: $white;
  border-color: $black;
  color: $black;

  &:hover {
    background-color: $black;
    color: $white;
  }
}