@import '../../style/colors';
@import '../../style/screen-sizes';
@import '../../style/fonts';

main-view {

  .nav-bar {
    position: absolute;
    top: 8px;
    right: 8px;

    a {
      color: $black;
      padding: 7px;

      &:hover {
        color: $light-red;
      }

      &.current {
        color: $light-red;
        cursor: default;
      }
    }

    &.home {
      a {
        color: $white;

        &:hover {
          color: $light-red;
        }
      }
    }
  }

  .footer {
    margin-top: 50px;
    background-color: $light-grey;
    color: $dark-grey;
    width: 100%;

    .links {
      position: relative;
      text-align: center;
      padding: 22px 20px;
      font-size: 23px;
      border-bottom: solid $dark-grey 2px;

      a {
        color: $dark-grey;
        display: inline-block;
        width: 25%;

        &:hover {
          color: $red;
        }

        @include screen-medium {
          width: 49%;
        }
      }
    }

    .copyright {
      text-align: center;
      padding: 33px 20px;
    }
  }
}