<h1 ng-bind="'PROFILE_PERSONAL_PROFILE' | translate"></h1>

<div class="profile">

    <spinner id="user-spinner" promise="$ctrl.userPromise"></spinner>

    <div ng-if="$ctrl.user" id="name">
        <div class="data-block">
            <h3 ng-bind="::'PROFILE_NAME' | translate"></h3>
            <h2 ng-bind="$ctrl.user.firstName + ' ' + $ctrl.user.lastName"></h2>
        </div>

        <div class="data-block" id="email">
            <h3 ng-bind="::'PROFILE_EMAIL' | translate"></h3>
            <h2 ng-bind="::$ctrl.user.email"></h2>
        </div>
    </div>
</div>

<h2 ng-bind="::'PROFILE_ORDERS' | translate"></h2>

<spinner id="user-orders-spinner" promise="$ctrl.userOrdersPromise"></spinner>

<div>
    <order-block ng-repeat="order in $ctrl.orders" order="order"
                 on-order-cancelled="$ctrl.onOrderCancelled($index)">
    </order-block>
</div>

<div ng-if="$ctrl.orders.length === 0" class="info-box">
    <span ng-bind-html="'PROFILE_NO_ORDERS' | translate"></span>
</div>