<div class="nav-bar">
    <a ng-if="$ctrl.userLoggedIn()" ng-bind="'APP_PROFILE' | translate" href="/profile"></a>
    <a ng-if="!$ctrl.userLoggedIn()" ng-bind="'APP_LOGIN' | translate" ng-click="$ctrl.login()"></a>
    <a ng-if="$ctrl.userLoggedIn()" ng-bind="'APP_LOGOUT' | translate" ng-click="$ctrl.logout()"></a>
</div>

<div ng-view class="main-view">
</div>

<div class="footer">
    <div class="links">
        <a ng-bind="'APP_COMPANY' | translate" href="/"></a>
        <a ng-bind="'APP_CAREERS' | translate" href="/"></a>
    </div>
    <div class="copyright">
        <span ng-bind="'APP_COPYRIGHT' | translate"></span>
    </div>

</div>