<div id="nav-bar" class="nav-bar" ng-class="{'home': $ctrl.isHomePage()}">
    <a id="home" ng-if="!$ctrl.isHomePage()" ng-bind="'APP_HOME' | translate" href="/"></a>
    <a id="profile" ng-if="$ctrl.userLoggedIn()" ng-bind="'APP_PROFILE' | translate" href="/profile"
       ng-class="{'current': $ctrl.isCurrentPage('/profile')}"></a>
    <a id="login" ng-if="!$ctrl.userLoggedIn()" ng-bind="'APP_LOGIN' | translate" ng-click="$ctrl.login()"></a>
    <a id="logout" ng-if="$ctrl.userLoggedIn()" ng-bind="'APP_LOGOUT' | translate" ng-click="$ctrl.logout()"></a>
</div>

<div ng-view class="main-view">
</div>

<div class="footer">
    <div class="links">
        <a ng-bind="'APP_COMPANY' | translate" href="/"></a>
        <a ng-bind="'APP_CAREERS' | translate" href="/"></a>
    </div>
    <div class="copyright">
        <span ng-bind="'APP_COPYRIGHT' | translate"></span>
    </div>

</div>