@import '../../common/style/colors';
@import '../../common/style/screen-sizes';
@import '../../common/style/fonts';
@import '../../common/style/buttons';

profile-page {

  display: block;
  margin: 100px 220px 80px;

  spinner {
    position: relative;
    top: -2px;
  }

  .profile {
    spinner {
      top: -10px;
    }
  }

  h1, h2 {
    margin-bottom: 15px;
  }

  @include screen-custom(900) {
    margin: 100px 50px 80px;
    text-align: center;

    .profile {
      .data-block {
        text-align: center;
      }
    }

    spinner {
      .sk-chasing-dots {
        margin: auto;
      }
    }
  }

  @include screen-medium() {
    margin: 100px 10px 80px;
  }

  .info-box {
    max-width: 700px;
  }

}